.code-block {
background: #282828;
padding: 10px;
border-radius: 5px;
font-family: monospace;  
  
}

.red {color: red;}
.green {color: green;}
.blue {color: #2973aa;}
.black {color: #000000;}
.orange {color: #de6f48;}
